{% extends 'base.html.twig' %}

{% block title %}- Gestor de Tarefas{% endblock %}

{% block body %}
    <div class="dashboard-box inside">
        <a class="section-title header" href="{{ path('task_manager') }}">
            <div class="image tasks"></div>
            <div class="title">Gestor de Tarefas</div>
        </a>

        <div class="dashboard-list-items">

          <div class="item mb0">
            <div class="item-line">
              <span class="icon folder-icon"></span> {{ folder.name }}
            </div>
            <div class="item-line description smaller pl30">
              {{ folder.description }}
            </div>
            <div class="item-line buttons">
                <a href="{{ parentfolder ? path('task_folder', {folder: parentfolder.id}) : path('task_manager') }}" class="btn">Voltar</a>
                {% if view == 'folder_tasks' %}
                  <a href="{{ path('task_folder_subfolders', {folder: folder.id}) }}" class="btn">Ver subpastas</a>
                {% else %}
                  <a href="{{ path('task_folder', {folder: folder.id}) }}" class="btn">Ver tarefas</a>
                {% endif %}
            </div>
          </div>

          {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
