{% extends 'base.html.twig' %}

{% block title %}- Gestor de Tarefas{% endblock %}

{% block stylesheets %}
  <style>
      .pl30 {
        padding-left: 30px;
      }
  </style>
{% endblock %}

{% block body %}
    <div class="dashboard-box pos-relative">
        <a class="section-title header mb0" href="{{ path('task-manager-folders') }}">
            <div class="image tasks"></div>
            <div class="title">Gestor de Tarefas</div>
        </a>

        <div id="new-folder-component" style="display: none">
          <h3 class="subtitle mt0 smaller-subtitle">Nova pasta: <span class="close-label" onClick="hideElement('new-folder-component')">X</span></h3>
          <input type="text" placeholder="Nome da pasta" class="mb0 ph-white">
          <textarea placeholder="Descrição" rows="5" class="ph-white lb-border-top mb0"></textarea>
          <div class="submit-button">Criar</div>
        </div>


        <div class="search-box" id="search-folders-component">
          <input type="text" placeholder="Pesquisar pastas" class="mb0" id="search-folders-box"/>
        </div>
        <h3 class="subtitle mt0">As minhas pastas:<span class="settings" onClick="toggleDisplay('folders-menu');">Opções</span></h3>
        <div id="folders-menu" class="subtitle-menu" style="display: none;">
          <div id="new-folder" class="menu-item" onClick="displayElement('new-folder-component'); hideElement('folders-menu')">
            <span class="icon new-folder-icon"></span> Nova pasta
          </div>

          <div id="search-folders" class="menu-item" onClick="javascript:displayElement('search-folders-component'); hideElement('folders-menu'); document.getElementById('search-folders-box').focus();">
            <span class="icon search-icon"></span> Pesquisar
          </div>
        </div>


        <div class="dashboard-list-items">
          {% if main_folders|length > 0 %}
            {% for folder in main_folders %}
              <div class="item">
                <div class="item-line">
                  <span class="icon folder-icon"></span> {{ folder.name }}
                </div>
                <div class="item-line white smaller pl30">
                  {{ folder.description }}
                </div>

                <div class="item-line buttons">
                  <a href="{{ path('task-manager-folder-tasks', { folder: folder.id }) }}"  class="btn">Ver tarefas</a>
                  <a href="{{ path('task-manager-folder-subfolders', {folder: folder.id}) }}" class="btn">Ver subpastas</a>
                </div>

              </div>
            {% endfor %}
          {% else %}
            <div class="message">
              Nenhuma pasta encontrada
            </div>
          {% endif %}
        </div>
    </div>
{% endblock %}
