{% extends 'base.html.twig' %}

{% block title %}- Gestor de Tarefas{% endblock %}

{% block stylesheets %}
  <style>
      .pl30 {
        padding-left: 30px;
      }
  </style>
{% endblock %}

{% block body %}
    <div class="dashboard-box inside">
        <a class="section-title header" href="{{ path('task_manager') }}">
            <div class="image tasks"></div>
            <div class="title">Gestor de Tarefas</div>
        </a>

        <div class="dashboard-list-items">

          <div class="item mb0">
            <div class="item-line">
              <span>Pasta:</span> {{ folder.name }}
            </div>
            <div class="item-line description smaller">
              {{ folder.description }}
            </div>
            <div class="item-line buttons">
                <a href="{{ parentfolder ? path('task_folder', {folder: parentfolder.id}) : path('task_manager') }}" class="btn">Voltar</a>
                <a href="{{ path('task_folder', {folder: folder.id}) }}" class="btn">Ver tarefas</a>
            </div>
          </div>
          <div class="search-box">
            <input type="text" placeholder="Pesquisar subpasta" class="mb0"/>
          </div>
          <h3 class="subtitle mt0">Subpastas:<span class="settings">Opções</span></h3>
          {% if subfolders|length > 0 %}
            {% for subfolder in subfolders %}
              <a class="item hover" href="{{ path('task_folder', {folder: subfolder.id}) }}">
                <div class="item-line">
                  <span class="icon folder-icon"></span> {{ subfolder.name }}
                </div>
                <div class="item-line white smaller pl30">
                  {{ subfolder.description }}
                </div>
              </a>
            {% endfor %}
          {% else %}
            <div class="message">
              Nenhuma subpasta encontrada dentro desta pasta
            </div>
          {% endif %}
        </div>
    </div>
{% endblock %}
