<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plataforma Pessoal Inteligente {% block title %}!{% endblock %}</title>

        <style>
            html,body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
            }

            .mb0 {
              margin-bottom: 0 !important;
            }

            .mt0 {
              margin-top: 0 !important;
            }

            .pl30 {
              padding-left: 30px !important;
            }

            p.small {
              font-size: 14px !important;
            }

            .dashboard-box h3.subtitle span.settings {
              background: transparent url('{{asset("img/icons/settings.png")}}') no-repeat;
            }

            .search-box {
              display: none;
            }

            .folder-icon {
              background: transparent url('{{ asset("/img/icons/folder-icon.png")}}') no-repeat;
            }

            .new-folder-icon {
              background: transparent url('{{ asset("/img/icons/new-folder.png")}}') no-repeat;
            }

            .image.tasks {
                background-image: url('{{ asset("/img/icons/tasks.png") }}');
            }

            .lb-border-top {
              border-top: 1px solid #286884 !important;
            }

            span.new-task-icon {
                background-image: url('{{ asset("/img/icons/task-icon.ico") }}');
            }

            span.search-icon {
                background-image: url('{{ asset("/img/icons/search.png") }}');
            }

            #navbar .container {
              //background-position: 0 20px;
              //background-image: url('{{ asset("/img/icons/owl.png") }}');
            }

            .pos-relative {
              position: relative !important;
            }
        </style>

        <link rel="stylesheet" href="{{ asset('css/navbar.css?v=1.0.1') }}"/>
        <link rel="stylesheet" href="{{ asset('css/dashboard.css?v=1.0.1') }}"/>

        {% block stylesheets %}{% endblock %}


    </head>
    <body>
        <div id="navbar">
            <div class="container">
                <a class="sitename" href="{{ path('index') }}">
                  Plataforma Pessoal <span>Inteligente</span>
                </a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  <div class="menu-toggle" id="main-menu-toggle">Menu</div>
                  <div class="menu" id="main-menu" style="display: none;">

                      <a href="{{ path('dashboard') }}">
                        <div class="menu-item {%  if selected_menu is defined and selected_menu == 'dashboard' %}selected{% endif %}">
                            Minha Área
                        </div>
                      </a>

                      <a href="{{ path('logout') }}">
                        <div class="menu-item">
                            Sair
                        </div>
                      </a>
                  </div>
                {% endif %}
            </div>
        </div>
        {% block body %}{% endblock %}

        <script src="{{ asset('js/helpers.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
